* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.portfolio-website {
    @include display-flex(column, center, initial, initial);
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.project-content,
.footer-content,
.about-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
    background: none;
}

.resume-button:hover {
    background-color: $pastel-pink;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

ul a:hover {
    border-bottom: 2px solid $pastel-pink;
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}