
/* COLORS */
$white: #fff;
$black: #000;
$grey-dark: #444444;
$old-lace: #F8F3EB;
$floral-white: #FCFAF7;
$elusive: #FEDED2;
$pastel-pink: #FFC1DE;
$water: #DAF6FF;
$linear: linear-gradient(180deg, #F8F3EB 0%, #FCFAF7 15.78%, #FCFAF7 100%);

/* BREAKPOINTS */
$breakpoints: (
  mobile: 690px, //390px
  tablet: 1350px,//768px
  desktop: 1650px,
  large: 1920px
);

/* SCALE */

$scale-factors: (
    mobile: 0.65,    // 65% of original size
    tablet: 0.8,     // 80% of original size
    desktop: 1,      // 100% (original size)
    large: 1.1       // 110% of original size
);