.about-content {
    background: $linear;
    padding: 4rem 10rem;
}

.about-wrapper {
    margin-top: 2rem;
    @include display-flex(initial, center, center, 2rem);
}

.about-text-container {
    @include display-flex(column, center, center, 2rem);
}

.about-img {
    align-self: flex-start;
    width: 16rem;
}

.text-1 {
    grid-column: 2;
}

.text-2 {
    grid-column: 2;
}