footer {
    background-color: $floral-white;
}

.footer-content {
    justify-self: center;
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
}

.personal-card {
    @include display-flex(column, initial, initial, 0.25rem);
    background-color: #FFC1DE;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 28px 20px 0 rgba(141, 125, 99, 0.10),
                0px 8px 12px 0px rgba(141, 125, 99, 0.10);
}

.card-title {
    color: $grey-dark;
    border-bottom: 2px solid $grey-dark;
    padding-bottom: 0.25rem;
}

.card-phone,
.card-email {
    color: $grey-dark;
    text-align: left;
    padding-right: 2rem;
    font-weight: 600;
}

.card-phone {
    padding-top: 0.5rem;
}

.card-social {
    padding-top: 0.5rem;
    @include display-flex(initial, flex-start, center, 1rem);
    img {
        @include social-img;
    }
}

.footer-dev-info {
    @include display-flex(initial, center, center, 0.5rem);
    padding-top: 0.5rem;
    img {
        @include footer-heart-img;
    }
}