footer {
    background-color: $floral-white;
    padding: 4rem 10rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 2rem;
    width: 90%;
    max-width: 75rem;
}

.footer-info {
    @include display-flex(column, space-between, flex-start, initial);
    height: 100%;
    grid-column: 1/ span 2;
}

.personal-card {
    @include display-flex(column, initial, initial, 0.25rem);
    background-color: #FFC1DE;
    padding: 2rem;
    border-radius: 1rem;
}

.card-title {
    color: $grey-dark;
    border-bottom: 2px solid $grey-dark;
    padding-bottom: 0.25rem;
}

.card-phone,
.card-email {
    color: $grey-dark;
    text-align: left;
    padding-right: 2rem;
    font-weight: 600;
}

.card-phone {
    padding-top: 0.5rem;
}

.card-social {
    padding-top: 0.5rem;
    @include display-flex(initial, flex-start, center, 1rem);
    img {
        @include social-img;
    }
}

.footer-dev-info {
    @include display-flex(initial, center, center, 0.2rem);
    padding-top: 0.5rem;
    img {
        @include footer-heart-img;
    }
}

.navigation-footer-links {
    padding: 0;
    @include display-flex(column, initial, initial, 0.25rem);
}