.hero-container {
    @include display-flex(row, center, center, initial);
    position: relative;
}
  
.hero-text {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.hero-img {
    position: absolute;
    z-index: 1;
    width: 50%;
    right: 0;
    top: 0;
    img {
        width: 100%;
        object-fit: contain;
    }
}