.hero {
    min-height: 700px;
    display: flex;
    align-items: center;
}

.hero-container {
    @include display-flex(row, space-between, center, initial);
    width: 100%;
    position: relative;
}
  
.hero-text {
    flex: 1;
    z-index: 2;
    @include display-flex(column, center, flex-start, 0.25rem);
    max-width: 60%;
}

.hero-img {
    z-index: 1;
    width: 42%;
    
    img {
        width: 100%;
        object-fit: contain;
    }
}