.hero {
    position: relative;
    width: 100%;
}

.hero-container {
    @include display-flex(row, center, center, initial);
    height: 100%;
}
  
.hero-text {
    z-index: 2;
    position: absolute;
    left: 0;
}
  
.hero-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    object-fit: contain;
    z-index: 1;
}