.project-page {
    margin-top: -8rem;
    width: 100%;
}

.header-project {
    background-color: $old-lace;
}

.project-content {
    @include display-flex(column, center, center, 2rem);

    .details-text {
        @include display-flex(column, center, flex-start, 1rem);

        .details-list {
            list-style: disc ;
            text-align: left;

            .project-list-item::marker {
                font-size: 1.5rem;
                color: $pastel-pink;
            }
        }
    }
}

.back-to-home {
    margin-bottom: 2rem;
    
    .back-to-home-link {
        @include display-flex(initial, initial, center, 0.5rem);
    
        .arrow-icon {
            height: 1.25rem;
        }
    }
}

.project-hero {
    @include display-flex(column, initial, flex-start, 1.5rem);

    .hero-summary {
        @include display-flex(column, initial, flex-start, 1rem);
    }

    .hero-data {
        @include display-flex(column, initial, flex-start, 1.5rem);
        min-width: 10rem;
        background-color: $white;
        border-radius: 1rem;
        padding: 2rem;

        .heading-s,
        .text-paragraph {
            color: $grey-dark;
        }

        .data-links {
            @include display-flex(column, initial, flex-start, 0.5rem);

            .project-link {
                @include display-flex(initial, initial, center, 0.5rem);
    
                .arrow-link-icon {
                    height: 1.5rem;
                }
            }
        }

        .data-tags {
            @include display-flex(column, initial, flex-start, 0.5rem);

            .tech-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                
                .tech-tag {
                    padding: 0.5rem 1rem;
                    background-color: $water;
                    border-radius: 2rem;
                    font-weight: 600;
                }
            }

        }
    }
}