@import 'functions.scss';
@import 'navigation.scss';
@import 'hero.scss';
@import 'about.scss';
@import 'skills-and-tools';
@import 'projects';

// base
* {
    box-sizing: border-box;
    @include font;
}

body {
    @include display-flex(initial, center, center, initial);
    margin: 0;
    // height: 100svh;
    width: 100vw;
}

.portfolio-website {
    @include display-flex(column, center, initial, 4rem);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.head-title {
    @include heading-m;
}