/* FONTS */
/* COLORS */
/* DISPLAY */
/* FONTS */
/* COLORS */
/* DISPLAY */
.navigation-bar {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  padding: 0.75rem 1.25rem;
  border-radius: 100rem;
  border-top: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 96px 48px 0px rgba(99, 91, 79, 0.01), 0px 60px 40px 0px rgba(99, 91, 79, 0.02), 0px 32px 32px 0px rgba(99, 91, 79, 0.04), 0px 8px 16px 0px rgba(99, 91, 79, 0.08);
  backdrop-filter: blur(20px);
  width: 90%;
  max-width: 75rem;
  margin: 1rem auto 0 auto;
  z-index: 999;
  position: fixed;
  inset: 0% 0% auto;
}

.logo {
  height: 2.25rem;
}

.navigation-bar-links {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.resume-button {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #FEDED2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

/* FONTS */
/* COLORS */
/* DISPLAY */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  margin-top: 6rem;
  padding: auto;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-text {
  z-index: 2;
  position: absolute;
  left: 0;
  padding: 2rem 2rem 2rem 4rem;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  object-fit: contain;
  z-index: 1;
  padding: 2rem 4rem 2rem 2rem;
}

.hero-text-sub {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.hero-text-main {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.75rem;
}

/* FONTS */
/* COLORS */
/* DISPLAY */
.about-content {
  background: linear-gradient(180deg, #F8F3EB 0%, #FCFAF7 15.78%, #FCFAF7 100%);
  padding: 4rem;
}

.about-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 18rem auto;
  grid-template-rows: auto;
  gap: 2rem;
}

.about-img {
  width: 18rem;
}

.text-1 {
  grid-column: 2;
}

.text-2 {
  grid-column: 1/span 2;
}

.about-text {
  color: #444;
  font-size: 2.125rem;
  font-weight: 400;
}

/* FONTS */
/* COLORS */
/* DISPLAY */
.skills-and-tools {
  padding: 0 4rem;
}

.skills-section {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 1.5rem;
  position: relative;
  padding: 2rem;
}

.skill-subhead {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.technologies {
  background-color: #FEDED2;
  border-radius: 1.25rem 1.25rem 0 0;
}

.tools {
  background-color: #FFC1DE;
  border-radius: 0 0 1.25rem 1.25rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 7.1rem;
}

.skill-item p {
  color: #444;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.936rem;
}

.skill-item img {
  height: 4rem;
  align-items: start;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 2rem 1rem;
}

.skill-section-container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2.5rem;
  border: solid 4px #FEDED2;
}

/* FONTS */
/* COLORS */
/* DISPLAY */
.projects-content {
  background-color: #F8F3EB;
  padding: 4rem;
}

.projects-content button {
  background-color: transparent;
  border: none;
}

.projects-intro-text {
  margin-top: 2rem;
}

.projects-list {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.project-preview {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 24px 0px rgba(75, 68, 57, 0.1), 0px 48px 48px 0px rgba(75, 68, 57, 0.1);
}

.project-preview-img {
  width: 100%;
}

.project-preview-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.project-preview-summary {
  color: #444;
  font-size: 2.125rem;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.project-tags-img {
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0.75rem 0;
}

.project-preview-tag-img {
  height: 1.5rem;
}

.projects-buttons {
  display: flex;
  justify-self: center;
  gap: 1rem;
  margin-top: 2rem;
}

.previous-project {
  transform: scaleX(-1);
}

.project-preview-button img {
  display: block;
  width: 2rem;
}

/* FONTS */
/* COLORS */
/* DISPLAY */
footer {
  background-color: #FCFAF7;
  padding: 4rem 4rem 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 2rem;
  width: 90%;
  max-width: 75rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  height: 100%;
  grid-column: 1/span 2;
}

.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.25rem;
  background-color: #FFC1DE;
  padding: 2rem;
  border-radius: 1rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #444444;
  border-bottom: 2px solid #444444;
  padding-bottom: 0.2rem;
}

.card-phone,
.card-email {
  color: #444;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.936rem;
  text-align: left;
  padding-right: 2rem;
}

.card-phone {
  padding-top: 0.5rem;
}

.card-social {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-dev-info {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.footer-dev-info p {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
}

.footer-heart-img {
  height: 1.5rem;
}

.navigation-footer-links {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.5rem;
}

* {
  box-sizing: border-box;
  color: #000;
  font-family: Inter;
  font-style: normal;
  margin: 0;
}

body {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  margin: 0;
  width: 100vw;
}

.portfolio-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: initial;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.head-title {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4rem;
}

/*# sourceMappingURL=styles.css.map */
