/* COLORS */
/* BREAKPOINTS */
/* SCALE */
/* FONTS */
/* BUTTONS ARROW */
/* IMAGES */
/* DISPLAY */
/* PADDING */
@media screen and (max-width: 1920px) {
  .portfolio-website {
    max-width: 1800px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1440px) {
  .portfolio-website {
    max-width: 1360px;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-website {
    max-width: 100%;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 390px) {
  .portfolio-website {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navigation-bar {
    width: 95%;
    padding: 0.5rem 1rem;
  }
  .navigation-bar .logo {
    height: 1.75rem;
  }
  .navigation-bar .navigation-bar-links {
    gap: 1rem;
    line-height: 1.6rem;
    font-size: 1.25rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .navigation-bar .navigation-bar-links {
    line-height: 1.28rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 390px) {
  .navigation-bar .navigation-bar-links {
    line-height: 1.04rem;
    font-size: 0.8125rem;
  }
}
@media screen and (max-width: 390px) {
  .navigation-bar {
    width: 100%;
    padding: 0.5rem;
  }
  .navigation-bar .navigation-bar-links {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    height: 60vh;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .hero .hero-text {
    position: relative;
    padding: 2rem;
    text-align: center;
  }
  .hero .hero-img {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    padding: 2rem 1rem;
  }
  .hero .heading-xl {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.75rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 1920px) {
  .hero .heading-xl {
    font-size: 4.4rem;
    line-height: 5.225rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 1440px) {
  .hero .heading-xl {
    font-size: 4rem;
    line-height: 4.75rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 768px) {
  .hero .heading-xl {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 390px) {
  .hero .heading-xl {
    font-size: 2.6rem;
    line-height: 3.0875rem;
  }
}
@media screen and (max-width: 390px) {
  .hero .heading-s {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 1920px) {
  .hero .heading-s {
    font-size: 1.925rem;
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 1440px) {
  .hero .heading-s {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 768px) {
  .hero .heading-s {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 390px) and (max-width: 390px) {
  .hero .heading-s {
    font-size: 1.1375rem;
    line-height: 1.625rem;
  }
}

.about-content .about-wrapper {
  display: grid;
  grid-template-columns: 18rem auto;
  gap: 2rem;
  grid-template-areas: "image text1" "text2 text2";
}
.about-content .about-wrapper .about-img {
  grid-area: image;
  align-self: start;
}
.about-content .about-wrapper .text-1 {
  grid-area: text1;
}
.about-content .about-wrapper .text-2 {
  grid-area: text2;
}
@media screen and (max-width: 1440px) {
  .about-content .about-wrapper {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: initial;
  }
  .about-content .about-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "text1" "text2";
  }
  .about-content .about-img {
    justify-self: center;
    width: 12rem;
  }
  .about-content .text-1,
  .about-content .text-2 {
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .about-content .about-img {
    display: none;
  }
  .about-content .about-wrapper {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .skills-and-tools .skills-head-title {
    align-self: center;
  }
  .skills-and-tools .skill-section-container {
    padding: 1rem;
  }
  .skills-and-tools .skills-section {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1.25rem;
  }
  .skills-and-tools .heading-s {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 1920px) {
  .skills-and-tools .heading-s {
    font-size: 1.925rem;
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 1440px) {
  .skills-and-tools .heading-s {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .skills-and-tools .heading-s {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 390px) {
  .skills-and-tools .heading-s {
    font-size: 1.1375rem;
    line-height: 1.625rem;
  }
}
@media screen and (max-width: 768px) {
  .skills-and-tools .skills-grid {
    gap: 1.5rem 2rem;
    justify-content: center;
    padding: 0rem;
  }
  .skills-and-tools .skill-item {
    width: 4.8rem;
  }
}
@media screen and (max-width: 390px) {
  .skills-and-tools .skill-section-container {
    padding: 0.7rem;
  }
  .skills-and-tools .skills-section {
    padding: 1rem;
  }
  .skills-and-tools .skills-grid {
    gap: 1.5rem 1.15rem;
  }
  .skills-and-tools .skill-item {
    width: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .projects-content .project-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: initial;
  }
  .projects-content .project-text-container .projects-intro-text {
    text-align: center;
  }
  .projects-content .projects-list {
    margin-top: 1.25rem;
    width: 100%;
    overflow: visible;
  }
  .projects-content .swiper {
    padding: 0rem;
    overflow: visible;
  }
  .projects-content .swiper-slide {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 390px) {
  .projects-content .swiper-slide {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-content {
    grid-template-columns: 1fr;
  }
  footer .footer-info {
    grid-column: auto;
  }
}
@media screen and (max-width: 390px) {
  footer .personal-card {
    padding: 1.5rem;
  }
}

.hero, .about-content, .skills-and-tools, .projects-content, footer {
  padding: 6rem 12rem;
}
@media screen and (max-width: 1440px) {
  .hero, .about-content, .skills-and-tools, .projects-content, footer {
    padding: 5.04rem 10.08rem;
  }
}
@media screen and (max-width: 768px) {
  .hero, .about-content, .skills-and-tools, .projects-content, footer {
    padding: 4.02rem 3.6rem;
  }
}
@media screen and (max-width: 390px) {
  .hero, .about-content, .skills-and-tools, .projects-content, footer {
    padding: 3rem 2.04rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Inter, sans-serif;
  font-style: normal;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.portfolio-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  gap: initial;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

:root {
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
}

.heading-xl {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.75rem;
}
@media screen and (max-width: 1920px) {
  .heading-xl {
    font-size: 4.4rem;
    line-height: 5.225rem;
  }
}
@media screen and (max-width: 1440px) {
  .heading-xl {
    font-size: 4rem;
    line-height: 4.75rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-xl {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}
@media screen and (max-width: 390px) {
  .heading-xl {
    font-size: 2.6rem;
    line-height: 3.0875rem;
  }
}

.heading-l {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 4rem;
}
@media screen and (max-width: 1920px) {
  .heading-l {
    font-size: 4.125rem;
    line-height: 4.4rem;
  }
}
@media screen and (max-width: 1440px) {
  .heading-l {
    font-size: 3.75rem;
    line-height: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-l {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}
@media screen and (max-width: 390px) {
  .heading-l {
    font-size: 2.4375rem;
    line-height: 2.6rem;
  }
}

.heading-m {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}
@media screen and (max-width: 1920px) {
  .heading-m {
    font-size: 3.3rem;
    line-height: 3.85rem;
  }
}
@media screen and (max-width: 1440px) {
  .heading-m {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-m {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
@media screen and (max-width: 390px) {
  .heading-m {
    font-size: 1.95rem;
    line-height: 2.275rem;
  }
}

.heading-s {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.5rem;
}
@media screen and (max-width: 1920px) {
  .heading-s {
    font-size: 1.925rem;
    line-height: 2.75rem;
  }
}
@media screen and (max-width: 1440px) {
  .heading-s {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .heading-s {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .heading-s {
    font-size: 1.1375rem;
    line-height: 1.625rem;
  }
}

.text-paragraph {
  color: #444;
  font-size: 1.75rem;
  font-weight: 400;
}
@media screen and (max-width: 1920px) {
  .text-paragraph {
    font-size: 1.925rem;
  }
}
@media screen and (max-width: 1440px) {
  .text-paragraph {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 768px) {
  .text-paragraph {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 390px) {
  .text-paragraph {
    font-size: 1.1375rem;
  }
}

.text-paragraph-s {
  color: #444;
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (max-width: 1920px) {
  .text-paragraph-s {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 1440px) {
  .text-paragraph-s {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .text-paragraph-s {
    font-size: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .text-paragraph-s {
    font-size: 0.8125rem;
  }
}

.text-navigation {
  line-height: 1.6rem;
  font-size: 1.25rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .text-navigation {
    line-height: 1.28rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 390px) {
  .text-navigation {
    line-height: 1.04rem;
    font-size: 0.8125rem;
  }
}

.text-skills {
  color: #444;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.936rem;
}
@media screen and (max-width: 1920px) {
  .text-skills {
    font-size: 1.375rem;
    line-height: 2.1296rem;
  }
}
@media screen and (max-width: 1440px) {
  .text-skills {
    font-size: 1.25rem;
    line-height: 1.936rem;
  }
}
@media screen and (max-width: 768px) {
  .text-skills {
    font-size: 1rem;
    line-height: 1.5488rem;
  }
}
@media screen and (max-width: 390px) {
  .text-skills {
    font-size: 0.8125rem;
    line-height: 1.2584rem;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underscore {
  display: inline;
  position: relative;
  padding: 0 0.3rem;
  z-index: 1;
}

.underscore::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  width: 100%;
  height: 1rem;
  background-color: #FFC1DE;
  border-radius: 1rem;
  z-index: -1;
}

.underscore-water {
  display: inline;
  position: relative;
  padding: 0 0.3rem;
  z-index: 1;
}

.underscore-water::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  width: 100%;
  height: 1rem;
  background-color: #DAF6FF;
  border-radius: 1rem;
  z-index: -1;
}

.underscore-elusive {
  display: inline;
  position: relative;
  padding: 0 0.3rem;
  z-index: 1;
}

.underscore-elusive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.25rem;
  width: 100%;
  height: 1rem;
  background-color: #FEDED2;
  border-radius: 1rem;
  z-index: -1;
}

.navigation-bar {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  gap: initial;
  padding: 0.75rem 1.25rem;
  border-radius: 100rem;
  border-top: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 96px 48px 0px rgba(99, 91, 79, 0.01), 0px 60px 40px 0px rgba(99, 91, 79, 0.02), 0px 32px 32px 0px rgba(99, 91, 79, 0.04), 0px 8px 16px 0px rgba(99, 91, 79, 0.08);
  backdrop-filter: blur(20px);
  width: 90%;
  max-width: 75rem;
  margin: 1rem auto 0 auto;
  z-index: 999;
  position: fixed;
  inset: 0% 0% auto;
}

.logo {
  height: 2.25rem;
}

.navigation-bar-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.resume-button {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  background-color: #FEDED2;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 100rem;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: initial;
  margin-top: 6rem;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-text {
  z-index: 2;
  position: absolute;
  left: 0;
  padding: 2rem 2rem 2rem 10rem;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  object-fit: contain;
  z-index: 1;
  padding: 2rem 10rem 2rem 2rem;
}

.about-content {
  background: linear-gradient(180deg, #F8F3EB 0%, #FCFAF7 15.78%, #FCFAF7 100%);
}

.about-wrapper {
  margin-top: 2rem;
}

.about-img {
  width: 100%;
  max-width: 16rem;
}

.skills-and-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
}

.skills-head-title {
  align-self: flex-start;
}

.skill-section-container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2.5rem;
  border: solid 4px #FEDED2;
  width: 90%;
  max-width: 75rem;
}

.skills-section {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 2.5rem;
  position: relative;
  padding: 2rem;
}

.technologies {
  background-color: #FEDED2;
  border-radius: 1.25rem 1.25rem 0 0;
}

.tools {
  background-color: #FFC1DE;
  border-radius: 0 0 1.25rem 1.25rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  width: 7.25rem;
}
.skill-item img {
  height: 4rem;
}
@media screen and (max-width: 1920px) {
  .skill-item img {
    height: 4.4rem;
  }
}
@media screen and (max-width: 1440px) {
  .skill-item img {
    height: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .skill-item img {
    height: 3.2rem;
  }
}
@media screen and (max-width: 390px) {
  .skill-item img {
    height: 2.6rem;
  }
}

.skill-item-img {
  align-items: start;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 2rem;
}

.projects-content {
  background-color: #F8F3EB;
}

.projects-content button {
  background-color: transparent;
  border: none;
}

.projects-intro-text {
  margin-top: 2rem;
}

.projects-list {
  width: 90%;
  max-width: 75rem;
  margin: 2rem auto;
  position: relative;
}

.swiper {
  width: 100%;
  padding: 1rem;
}

.swiper-slide {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 2rem 5rem;
}

.swiper-wrapper {
  transition-timing-function: ease-out;
}

.project-preview {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.5rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 12px 24px 0px rgba(75, 68, 57, 0.1), 0px 48px 48px 0px rgba(75, 68, 57, 0.1);
  transition: transform 0.3s ease;
}
.project-preview:hover {
  transform: translateY(-5px);
}

.project-preview-img {
  width: 100%;
}

.project-preview-summary {
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.project-tags-img {
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0.75rem 0;
}
.project-tags-img img {
  height: 2rem;
}
@media screen and (max-width: 1920px) {
  .project-tags-img img {
    height: 2.2rem;
  }
}
@media screen and (max-width: 1440px) {
  .project-tags-img img {
    height: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .project-tags-img img {
    height: 1.6rem;
  }
}
@media screen and (max-width: 390px) {
  .project-tags-img img {
    height: 1.3rem;
  }
}

.projects-buttons {
  display: flex;
  justify-self: center;
  gap: 1rem;
  margin-top: -3rem;
}

.previous-project {
  transform: scaleX(-1);
}

.project-preview-button {
  align-self: flex-end;
}
.project-preview-button img {
  width: 2.5rem;
}
@media screen and (max-width: 1920px) {
  .project-preview-button img {
    width: 2.75rem;
  }
}
@media screen and (max-width: 1440px) {
  .project-preview-button img {
    width: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .project-preview-button img {
    width: 2rem;
  }
}
@media screen and (max-width: 390px) {
  .project-preview-button img {
    width: 1.625rem;
  }
}

.project-list-button img {
  width: 3.5rem;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1920px) {
  .project-list-button img {
    width: 3.85rem;
  }
}
@media screen and (max-width: 1440px) {
  .project-list-button img {
    width: 3.5rem;
  }
}
@media screen and (max-width: 768px) {
  .project-list-button img {
    width: 2.8rem;
  }
}
@media screen and (max-width: 390px) {
  .project-list-button img {
    width: 2.275rem;
  }
}
.project-list-button:hover img {
  transform: translateX(5px);
}

footer {
  background-color: #FCFAF7;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 2rem;
  width: 90%;
  max-width: 75rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: initial;
  height: 100%;
  grid-column: 1/span 2;
}

.personal-card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.25rem;
  background-color: #FFC1DE;
  padding: 2rem;
  border-radius: 1rem;
}

.card-title {
  color: #444444;
  border-bottom: 2px solid #444444;
  padding-bottom: 0.25rem;
}

.card-phone,
.card-email {
  color: #444444;
  text-align: left;
  padding-right: 2rem;
  font-weight: 600;
}

.card-phone {
  padding-top: 0.5rem;
}

.card-social {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.card-social img {
  height: 2.25rem;
}
@media screen and (max-width: 1920px) {
  .card-social img {
    height: 2.475rem;
  }
}
@media screen and (max-width: 1440px) {
  .card-social img {
    height: 2.25rem;
  }
}
@media screen and (max-width: 768px) {
  .card-social img {
    height: 1.8rem;
  }
}
@media screen and (max-width: 390px) {
  .card-social img {
    height: 1.4625rem;
  }
}

.footer-dev-info {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-top: 0.5rem;
}
.footer-dev-info img {
  height: 1.75rem;
}
@media screen and (max-width: 1920px) {
  .footer-dev-info img {
    height: 1.925rem;
  }
}
@media screen and (max-width: 1440px) {
  .footer-dev-info img {
    height: 1.75rem;
  }
}
@media screen and (max-width: 768px) {
  .footer-dev-info img {
    height: 1.4rem;
  }
}
@media screen and (max-width: 390px) {
  .footer-dev-info img {
    height: 1.1375rem;
  }
}

.navigation-footer-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.25rem;
}

/*# sourceMappingURL=styles.css.map */
