

.footer-heart-img {
  width: 50px;
}

.previous-project {
  transform: scaleX(-1)
}

.project-preview-img {
  width: 150px;
}

.project-preview-button img{
  width: 30px;
}

.project-preview-tag-img {
  width: 30px;
}