body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  width: 50px;
}

.banner-main-img {
  width: 400px;
}

.about-img {
  width: 200px;
}

.footer-heart-img {
  width: 50px;
}